<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>o25 Demo</title>
</head>
<body>
<div class="h-screen bg-gray-50">
    <div class="max-w-2xl mx-auto py-6 px-4 sm:py-6 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">My Products</h2>
        {% if paymentRequests|length == 0 %}
        <div class="w-full max-w-[32rem] inline-flex justify-start items-center mt-4 p-6 bg-indigo-50/50 rounded-lg border border-indigo-500 text-center text-indigo-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M5.223 2.25c-.497 0-.974.198-1.325.55l-1.3 1.298A3.75 3.75 0 007.5 9.75c.627.47 1.406.75 2.25.75.844 0 1.624-.28 2.25-.75.626.47 1.406.75 2.25.75.844 0 1.623-.28 2.25-.75a3.75 3.75 0 004.902-5.652l-1.3-1.299a1.875 1.875 0 00-1.325-.549H5.223z"/>
                <path fill-rule="evenodd"
                      d="M3 20.25v-8.755c1.42.674 3.08.673 4.5 0A5.234 5.234 0 009.75 12c.804 0 1.568-.182 2.25-.506a5.234 5.234 0 002.25.506c.804 0 1.567-.182 2.25-.506 1.42.674 3.08.675 4.5.001v8.755h.75a.75.75 0 010 1.5H2.25a.75.75 0 010-1.5H3zm3-6a.75.75 0 01.75-.75h3a.75.75 0 01.75.75v3a.75.75 0 01-.75.75h-3a.75.75 0 01-.75-.75v-3zm8.25-.75a.75.75 0 00-.75.75v5.25c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-5.25a.75.75 0 00-.75-.75h-3z"
                      clip-rule="evenodd"/>
            </svg>

            <div class="ml-4">
                <p class="text-left text-indigo-500 text-lg">Create your first payment request!</p>
                <p class="text-left text-indigo-400 text-base">Your payment requests will show here.</p>
            </div>
        </div>
        {% endif %}
        <div class="mt-4 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {% for paymentRequest in paymentRequests %}
            <div class="bg-white group relative p-4 rounded-lg border border-gray-500 shadow-md hover:border-gray-900 hover:shadow-2xl">
                <div class="w-full aspect-w-1 aspect-h-1 overflow-hidden">
                    <img src="{{paymentRequest.product.imageUrl}}"
                         alt="{{paymentRequest.paymentRequestUrl}}"
                         class="w-full h-full object-center group-hover:hidden">
                    <img src="{{paymentRequest.paymentRequestQrCode}}"
                         alt="{{paymentRequest.paymentRequestUrl}}"
                         class="w-full h-full object-center hidden group-hover:block">
                </div>
                <div class="mt-2 flex justify-between items-baseline">
                    <div>
                        <h3 class="text-sm text-gray-700 font-medium">
                            <a href="{{paymentRequest.paymentRequestUrl}}" target="_blank">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{ paymentRequest.product.name }}
                            </a>
                        </h3>
                    </div>
                    <p class="text-lg font-bold text-gray-900">{{ '%0.2f' | format(paymentRequest.paymentAmount.amount)
                        }} {{ paymentRequest.paymentAmount.currencyCode }}</p>
                </div>
                <p class="mt-1 text-sm text-gray-500">{{ paymentRequest.product.description }}</p>
                {% if 'webhook' in paymentRequest.notifications %}
                <div class="flex pt-4">
                    {% for key, value in paymentRequest.notifications.webhook.customParameters.items() %}
                    <div class="inline-flex flex-col mr-2 mb-2 bg-indigo-100 px-3 py-2 rounded-md">
                        <span class="text-indigo-900 font-semibold text-xs">{{key}}</span>
                        <span class="text-indigo-700 text-base">{{value}}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <h2 class="mt-8 text-2xl font-bold tracking-tight text-gray-900">Recent payments</h2>
        <p class="text-sm text-gray-500">Refresh to update</p>
        {% if recentPayments|length > 0 %}
        <div class="mt-4 pb-2 mb-24 bg-white rounded-lg shadow-md border border-gray-500">
            <table class="w-full rounded-lg">
                <thead class="border-b border-gray-200">
                <tr class="table-row bg-indigo-100 text-left">
                    <th class="table-cell pl-4 py-3 rounded-tl-lg border-b border-indigo-200 text-xs font-semibold uppercase">
                        <span>Payment Request ID</span>
                    </th>

                    <th class="table-cell py-3 border-b border-indigo-200 text-xs font-semibold uppercase">
                        <span>Transaction ID</span>
                    </th>

                    <th class="table-cell py-3 rounded-tr-lg border-b border-indigo-200 text-xs font-semibold uppercase">
                        <span>User Data</span>
                    </th>
                </tr>
                </thead>
                <tbody class="">
                {% for payment in recentPayments %}
                <tr class="hover:bg-slate-100">
                    <td class="table-cell py-4 px-4">
                        <a href="https://pay.handcash.io/{{payment.paymentRequestId}}" target="_blank"
                           class="text-indigo-600 hover:text-indigo-500">{{ payment.paymentRequestId }}</a>
                    </td>

                    <td class="table-cell overflow-hidden text-truncate">
                        <a href="https://whatsonchain.com/tx/{{payment.transactionId}}" class="text-indigo-600 hover:text-indigo-500">{{ payment.transactionId }}</a>
                    </td>

                    <td class="table-cell col-span-3 flex flex-wrap">
                        {% if 'paymail' in payment.userData %}
                        <span class="mr-2 mb-2 bg-stone-200 px-3 py-1 text-stone-800 text-sm rounded-md">
                                    {{ payment.userData.paymail }}</span>
                        {% endif %}
                        {% if 'email' in payment.userData %}
                        <span class="mr-2 mb-2 bg-purple-200 px-3 py-1 text-purple-800 text-sm rounded-md">
                                    {{ payment.userData.email }}</span>
                        {% endif %}
                        {% if 'phoneNumber' in payment.userData %}
                        <span class="mr-2 mb-2 bg-teal-100 px-3 py-1 text-teal-800 text-sm rounded-md">
                                    {{ payment.userData.phoneNumber }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="w-full max-w-[32rem] inline-flex justify-start items-center mt-4 p-6 bg-indigo-50/50 rounded-lg border border-indigo-500 text-center text-indigo-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                      clip-rule="evenodd"/>
            </svg>


            <div class="ml-4">
                <p class="text-left text-indigo-500 text-lg">Pay for any product above</p>
                <p class="text-left text-indigo-400 text-base">Payment webhook notifications will show here.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>